// _mixins.scss

// dialog 크기
@mixin dialog-size($width, $height) {
  width: $width;
  height: $height;
}

// 로그인, 회원가입 폼 크기
@mixin form-size($width, $height) {
  width: $width;
  height: $height;
}

// 로그인, 회원가입 폼 중앙 정렬 및 배경 색상
@mixin form-properties {
  opacity: 1;
  transform: scale(1) translateY(0px) translateZ(0px);
  border-radius: 4px;
  background: $form-color;
}

// 전체 화면에 특정 테마를 적용
@mixin applyTheme($theme) {
  // 전체 화면에 특정 테마를 적용하는 mixin
  width: 100vw;
  height: 100vh;
  background: $theme;
}
