// Abstracts
@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'abstracts/functions';
@import 'abstracts/placeholders';

// Base
@import 'base/base';
@import 'base/reset';
@import 'base/typography';
@import 'base/animations';

// Layout
@import 'layout/grid';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/sidebar';
@import 'layout/forms';
@import 'layout/navigation';

// Components
@import 'components/buttons';
@import 'components/media';
@import 'components/carousel';
@import 'components/thumbnails';

// Pages
@import 'pages/DirectMessagePage/DirectMessagePage.scss';
@import 'pages/JoinPage/JoinPage.scss';
@import 'pages/LoginPage/LoginPage.scss';
@import 'pages/MainScreenPage/MainScreenPage.scss';
@import 'pages/ResetPasswordPage/ResetPasswordPage.scss';
@import 'pages/ServerChannelPage/ServerChannelPage.scss';

// Themes
@import 'themes/theme';
@import 'themes/admin';
