/* _server-nav-layout.scss 스타일 파일 */

#server-nav {
  height: 100%;
  .scroller {
    height: 100%;
    padding-top: 12px;

    &::-webkit-scrollbar {
      display: none;
    }

    .tutorialContainer {
      width: 100%;
      .listItem {
        .childWrapper {
          border-radius: 12px;
        }
      }
    }

    .listItem {
      position: relative;
      display: flex;
      justify-content: center;
      margin-bottom: 8px;
      height: auto;
      overflow: hidden;
      &:hover,
      &:active {
        .childWrapper {
          border-radius: 12px;
          background: $primary-background-color;
          &.distinct {
            background: $green-button-color;
          }
        }

        .item {
          display: block;
        }
      }

      &:hover {
        .item {
          height: 20px;
        }
      }
      &:active {
        .item {
          height: 40px;
        }
      }

      .childWrapper {
        border-radius: 24px;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        line-height: 48px;
        background: $server-background-color;
      }

      .guildSeparator {
        height: 2px;
        width: 32px;
        border-radius: 1px;
        background: $gray-border-color;
        box-sizing: border-box;
      }
      .pill {
        position: absolute;
        left: 0;
        top: 0;
      }

      .wrapper {
        position: absolute;
        overflow: hidden;
        width: 8px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }

      .item {
        display: none;
        opacity: 1;
        width: 8px;
        transform: none;
        position: absolute;
        border-radius: 0 4px 4px 0;
        margin-left: -4px;
        background: #fff;
      }
    }
  }
}
