@import '/src/styles/sass/main.scss';

#addFriend-section-tab {
  width: 100%;
  height: 100%;
  .addFriend-section-header {
    padding: 20px 30px;
    width: 100%;
    border-bottom: 1px solid $friend-divider-border-color;

    .title {
      line-height: 20px;
      width: 100%;
      margin-bottom: 8px;
      color: $base-font-color;
    }

    .description {
      font-size: $label-font-size;
      line-height: 20px;
    }

    .form-footer {
      margin-top: 8px;
      font-weight: $heading-font-weight;
    }

    .addFriend-input-wrapper {
      display: flex;
      align-items: center;
      border: 1px solid $form-input-color;
      background: $form-input-color;
      border-radius: 8px;
      margin-top: 16px;
      padding: 0 12px;

      &.focused {
        border: 1px solid $input-focused-color;
      }

      .addFriend-input {
        border: none;
        box-sizing: border-box;
        color: $input-color;
        flex: 1 1 auto;
        margin-right: 16px;
        padding: 4px 0;

        .inputText {
          margin: 0;
          padding: 0;
          font-size: $search-font-size;
        }
      }
      .btn-blue {
        margin: 0;
        height: 32px;
        padding: 2px 16px;
      }
    }
  }
}
