[id$='section-tab'] {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  color: $chat-header-color;
  .search-wrapper {
    margin: 16px 20px 8px 30px;

    .search-section {
      margin: 0;
      padding: 9px 8px;
    }
  }

  .section-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 8px;

    .title {
      margin: 16px 20px 8px 30px;
      width: 100%;
    }
  }
}
