.people-item {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-right: 10px;
  line-height: 20px;
  height: 62px;
  overflow: hidden;
  box-sizing: border-box;
  cursor: pointer;
  border-top: 1px solid $friend-divider-border-color;
  border-radius: 8px;

  &:hover {
    background: $chat-header-background-hover-color;
  }

  .item-content {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;

    .user-info {
      align-items: center;
      justify-content: center;
      margin-left: 10px;
    }

    .action {
      display: flex;
      margin-left: 8px;
      margin-right: 10px;

      .action-button {
        cursor: pointer;
        height: 36px;
        width: 36px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        color: $emoji-color;
        background-color: $dark-background-color;

        &:hover {
          color: $emoji-hover-color;
        }

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}
