//_base.scss

html {
  font-size: $base-font-size;
}

body {
  color: $base-font-color;
  font-family: $base-font-family, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

strong,
b {
  font-weight: $heading-font-weight;
}


em,
i {
  font-style: italic;
}
