// _typography.scss

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $heading-font-weight;
}

h1,
.h1 {
  font-size: $heading-h1-size;
  &.small {
    font-size: $heading-h1-small-size;
  }
  &.base {
    font-size: $base-font-size;
  }
}

h2,
.h2 {
  font-size: $heading-h2-size;
  &.small {
    font-size: $heading-h2-small-size;
  }
  &.base {
    font-size: $base-font-size;
  }
}

h3,
.h3 {
  font-size: $heading-h3-size;
}

h4,
.h4 {
  font-size: $heading-h4-size;
}

h5,
.h5 {
  font-size: $heading-h5-size;
}

h6,
.h6 {
  font-size: $heading-h6-size;
}
